Telegram_Bot_code.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1c186b64-e8f1-4b96-86f3-059a1a6318d0",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -660,
        200
      ],
      "webhookId": "c69562fd-155b-4f45-9262-e0307e12285a",
      "credentials": {
        "telegramApi": {
          "id": "dM5LaqN5uLi5sSfx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7782cfdf-417c-4785-9bb1-8316d8b097be",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "d5c512d4-02a1-4ddc-8876-49c5c83d8080",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -320,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7f05b99a-8c28-4e3e-92a0-9776d32ec59c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "8c420330-0221-4483-963e-af94c76cd0e3",
              "name": "texto 2",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "32585cf8-3b06-4a94-8ad4-3f5302ec4645",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        180
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "c50df877-6fa1-4cb4-94c4-52a66140ab4e",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2640,
        920
      ],
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "VREpYxyDLVLmsHMl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "notes": "Using Gemini 2.0 Flash of GCP"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "02c1d2ac-5fa0-4766-971a-af0908b1765e",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3840,
        460
      ],
      "webhookId": "455a11c3-a2bf-4f2d-8b4e-7781d2b0cce8",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "dM5LaqN5uLi5sSfx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El mensaje del usuario es: {{ $json.text }} {{ $json['texto 2'] }}\n{{ $json.intent }}\n{{ $json.data.text }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# *Descripción General*  \nEres un asistente de calendario y de gestion del correo electronico. Tus responsabilidades incluyen *crear, obtener y eliminar eventos* en el calendario del usuario. *enviar y leer correos* en el mail del usuario\n\n## *Herramientas de Gestión de Calendario*  \n- ⁠Usa *\"calendar_task\"* cuando un evento incluya un participante.  \n- ⁠Usa *\"calendar_task\"* para eventos individuales.  \n- ⁠Usa *\"calendar_availability\"* para recuperar horarios del calendario cuando se solicite.  \n- ⁠Usa *\"google_calendar\"* para recuperar horarios del calendario cuando se solicite.\n- ⁠Usa *\"sent_email\"* para enviar un correo de Gmail.\n- ⁠Usa *\"get_mails\"* para revisar los correos en la bandeja de entrada.\n\n## *Reglas*  \n-⁠  ⁠Convierte la consulta entrante en una acción. *Ignora preguntas de aclaración*, solo actúa en función de la intención recibida.  \n\n## *Notas Finales*  \nLa fecha y hora actual es: *{{ $now }}*  \nSi no se especifica una duración para un evento, *asume que durará una hora*.\nSi te saludan debes saludar con emogies. Di que puedes gestionar el calendario y el gmail.\n\n# Formato de salida> LA salida debe ser en formato simple, unsa guiones como bullet points y agrega emogies moderadamente.\n\nLa fecha y hora actual es: {{ $now }} "
        }
      },
      "id": "5ce348b3-84ed-485c-9351-9a450506fcff",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3340,
        380
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        500
      ],
      "id": "cfbb7082-dac9-4b8b-8302-784f5ecf2c80",
      "name": "Telegram1",
      "webhookId": "8b401811-3565-4d78-bcad-52e4eb129416",
      "credentials": {
        "telegramApi": {
          "id": "dM5LaqN5uLi5sSfx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        220,
        500
      ],
      "id": "b3f3b52d-c8f8-4adc-9e9d-af9a182ed43c",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Br5eTzLfS1wvw1uf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "simple": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3940,
        920
      ],
      "id": "58195a6b-b031-4f2e-b9c9-fb700482ef8c",
      "name": "get_mails",
      "webhookId": "844a4f97-ca2b-4945-85a0-2cecd515f7a2",
      "credentials": {
        "gmailOAuth2": {
          "id": "YdtCNojWy5lrSTsE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"to\",\"Correo del recipiente\") }}",
        "subject": "={{ $fromAI(\"subject\",\"Un breve titulo, con emojies y en capital letters\") }}",
        "message": "={{ $fromAI(\"body\",\"Agregar el cuerpo del mensaje formateado en HTML\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3740,
        920
      ],
      "id": "93e06c17-5d54-43cf-93c7-ce09cf70e5b9",
      "name": "sent_email",
      "webhookId": "595097fb-b554-4f77-a2e6-15fce688f305",
      "credentials": {
        "gmailOAuth2": {
          "id": "YdtCNojWy5lrSTsE",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "tuemail@gmail.com",
          "mode": "list",
          "cachedResultName": "tuemail@gmail.com"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2340,
        900
      ],
      "id": "f2383eb6-6f3f-4d8a-9c74-6579951148bf",
      "name": "google_calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RmD7Hjj2cm8gjxG7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "tuemail@gmail.com",
          "mode": "list",
          "cachedResultName": "tuemail@gmail.com"
        },
        "timeMin": "={{ $fromAI('Start_Time', `Format to google calendar API needed date, in Colombia timezone`, 'string') }}",
        "timeMax": "={{ $fromAI('End_Time', `Format to google calendar API needed date, in Colombia timezone it alwasys end ar 59 minutes`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3060,
        940
      ],
      "id": "d9cb19a5-caeb-4d55-a934-1196ea307415",
      "name": "calendar_availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RmD7Hjj2cm8gjxG7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tuemail@gmail.com",
          "mode": "list",
          "cachedResultName": "tuemail@gmail.com"
        },
        "start": "={{ $fromAI('Start', `Generate the google calendar format for API`, 'string') }}",
        "end": "={{ $fromAI('End', `Add to the hour, 59 minutes, in google calendar format for API`, 'string') }}",
        "additionalFields": {
          "color": "9",
          "description": "={{ $fromAI('Description', `The description of the event`, 'string') }}",
          "showMeAs": "opaque",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3300,
        920
      ],
      "id": "5177cc5e-85e0-4b18-ae84-eea0ef793b06",
      "name": "calendar_task",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RmD7Hjj2cm8gjxG7",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=El mensaje del usuario está en español: {{ $('Edit Fields').item.json.text }}\n \n",
        "options": {
          "systemMessage": "=# Descripción General\nEres un asistente de calendario. Tu trabajo es analizar la consulta entrante y determinar la intención.\n\n## Herramientas\n\n-  ⁠*calendar_availability*: Usa esta herramienta para obtener eventos cuando el usuario quiera crear, eliminar o actualizar un evento. Debes proporcionar detalles sobre el evento para confirmar que es el correcto antes de eliminarlo o actualizarlo.\n\n## Reglas\n\n-  ⁠Siempre debes obtener eventos usando la herramienta *\"calendar_availability\"* para asegurarte de que no haya conflictos de programación.\n-⁠  ⁠Cuando se te pida mover, actualizar o eliminar un evento, debes usar *\"calendar_availability\"* para confirmar el evento. Debes proporcionar los detalles del evento, como fecha, hora y correos electrónicos de los asistentes.\n\n## Salida\n\n-  ⁠Debes mostrar la solicitud del usuario y hacer cualquier pregunta de aclaración necesaria.\n\n## Notas Finales\n\nLa fecha y hora actual es: *{{ $now }}*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1260,
        -200
      ],
      "id": "94092595-37d3-49ed-ae82-59c1cf67fffe",
      "name": "AI Clasificador",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad0a3fb5-43c4-4477-a85a-718401568257",
              "name": "intent",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1700,
        -100
      ],
      "id": "8cf12ea4-dba4-450e-9f6f-f49d3138436f",
      "name": "Requerimiento",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.intent }}",
        "responseType": "freeText",
        "options": {
          "messageButtonLabel": "Contestar"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1980,
        -100
      ],
      "id": "977a9340-f3dc-4da5-aa22-a1170a21e1e7",
      "name": "Feedback",
      "webhookId": "1859fbfe-8efe-40b4-a6f1-50c106d1029a",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "dM5LaqN5uLi5sSfx",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Aprobado",
              "description": "The human o humano está confirmando o está de acuerdo con nuestra solicitud. Esto significa que reconoce que la información proporcionada o la acción es correcta y está lista para proceder.  \n\nLos mensajes de aprobación a menudo incluyen frases como:  \n-\"Sí\"\n-\"Si\"\n-\"Me parece bien\" \n-\"Envíalo\" \n-\"Correcto\" \n-\"Aprobado\" \n-\"Eso funciona\" \n-\"Suena bien\" \n-\"Adelante\" ​"
            },
            {
              "category": "Denegado",
              "description": "El humano está proporcionando retroalimentación que no indica aprobación. Esto podría incluir solicitudes de cambios, correcciones o aclaraciones adicionales.\n\nUna negación también puede implicar la especificación de un tipo de correo electrónico, como \"business\" (negocios) o \"personal\" o otro estado que no sea aprobado.\n\nEjemplos de frases de \"Denegado\":\n\n-\"business\" (negocios)\n-\"change the time\" (cambiar la hora)\n-\"personal\" (personal)\n-\"delete both\" (eliminar ambos)\n-\"delete the first one\" (eliminar el primero)\n-\"today\" (hoy)\n-\"tomorrow\" (mañana)\n-\"eso no es lo que pedi\"\n-\"La fecha esta mal\"\n-\"da una nueva fecha\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        2440,
        -80
      ],
      "id": "5bf8d4eb-57be-488b-b645-baeabb6ccea1",
      "name": "Text Classifier",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Solicitud inicial: {{ $('Telegram Trigger').item.json.message.text }}\n`\nFeedback humano: {{ $json.data.text }}",
        "options": {
          "systemMessage": "=# Descripción General\n\nEres un agente de corrección. Tu trabajo es revisar la salida original y corregirla según la retroalimentación humana.\n\n## Salida\n\n- ⁠Tu tarea es generar la nueva intención de la solicitud.\n- ⁠Siempre incluye todos los detalles requeridos, como la dirección de correo electrónico de los asistentes, hora, fecha, resumen, etc.\n- ⁠Haz una pregunta de aclaración si es necesario. SI no hay nada que aclarar sigue\n\nLA fecha de hoy es:  {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3460,
        -380
      ],
      "id": "0da04583-3fc4-4a0d-80a3-0c2b63627419",
      "name": "Correction Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1240,
        680
      ],
      "id": "d2ed7dbf-6cb7-4fe0-90b1-779bddf3c8fa",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "VREpYxyDLVLmsHMl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "7b4f86e2-1bf5-4149-a61e-c91f41410227",
      "name": "Postgres Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        2880,
        920
      ],
      "credentials": {
        "postgres": {
          "id": "AEkfjew9LtbaoJ5J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }} {{ $json['texto 2'] }}",
        "categories": {
          "categories": [
            {
              "category": "agenda",
              "description": "El humano quiere agendar un evento en el calendario:\n\nEjemplos de lo que contiene el texto:\n\n\n\"agendar\"\n\"quiero crear un evento\"\n\"Crea una cita\"\n\"Agrefar tarea en mi calendario\"\n​"
            },
            {
              "category": "otro",
              "description": "El humano indica un saludo o esta pidiendo enviar gmail. Asi mismo es su primer interaccion, por lo que es un saludo inicial:\n\nEjemplo de lo que el humano dice:\n- \"Hola\"\n- \"Como estas\"\n- \"Quiero enviar un correo\"\n- \"quiero obtener mi agenda\"\n- Que eventos tengo para hoy\"\n- \"dime mi disponibilidad\"\n- \"No aparece\"\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        860,
        60
      ],
      "id": "530f6345-1670-4479-ac96-aa34f76dec5f",
      "name": "Es agendamiento?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "id": "2f1e2391-eda0-4eff-8ce2-365721baebcc",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "position": [
        1380,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "AEkfjew9LtbaoJ5J",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2880,
        260
      ],
      "id": "4eb8e30b-2bff-4a84-956e-02208146101e",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        420,
        180
      ],
      "id": "3cf63e35-9571-4d59-81b9-0853beb33dc5",
      "name": "Merge1"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 992566156,
          "message": {
            "message_id": 689,
            "from": {
              "id": 1219312824,
              "is_bot": false,
              "first_name": "Wilmer",
              "last_name": "Ropero🇨🇴",
              "username": "Wropero",
              "language_code": "en"
            },
            "chat": {
              "id": 1219312824,
              "first_name": "Wilmer",
              "last_name": "Ropero🇨🇴",
              "username": "Wropero",
              "type": "private"
            },
            "date": 1740508440,
            "voice": {
              "duration": 3,
              "mime_type": "audio/ogg",
              "file_id": "AwACAgEAAxkBAAICsWe-DRjL5DVv9LPictQtOadUmjRHAAKMBgAC6rzxRTZuzeuhz6oZNgQ",
              "file_unique_id": "AgADjAYAAuq88UU",
              "file_size": 13959
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Es agendamiento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get_mails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "sent_email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "google_calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        []
      ]
    },
    "calendar_availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Clasificador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calendar_task": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Clasificador": {
      "main": [
        [
          {
            "node": "Requerimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requerimiento": {
      "main": [
        [
          {
            "node": "Feedback",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Feedback": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Clasificador",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Correction Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Es agendamiento?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correction Agent": {
      "main": [
        [
          {
            "node": "Requerimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Es agendamiento?": {
      "main": [
        [
          {
            "node": "AI Clasificador",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Clasificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e8f406f-723b-47cb-bfe1-497fcee2aebd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "924d3d2cca5c72e8108971a959414a6c28946537f1d274b4bcf9716f10498b0d"
  },
  "id": "db34Zp4FJvYDd3sk",
  "tags": [
    {
      "createdAt": "2025-02-18T19:27:14.797Z",
      "updatedAt": "2025-02-18T19:27:14.797Z",
      "id": "e4evGkMGUvNPk29f",
      "name": "Agendamiento"
    }
  ]
}